@using WebBanHang.EF

@{
    ViewBag.Title = "Trang chủ";
}
<h1> Đây là trang chủ </h1>

<!-- Home Slider -->
@Html.Partial("~/Views/Page/_HomeSlider.cshtml")
<!-- End Home Slider -->

<!-- Home Marketing -->
@Html.Partial("~/Views/Page/_HomeMarketing.cshtml")
<!-- End Home Marketing -->