@using WebBanHang.EF

    <div class="container">
        <div class="row">
            @foreach (products sanpham in ViewBag.DanhSachSanPham)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="/chitiet-sanpham?idProduct=@sanpham.id">

                            @if (String.IsNullOrEmpty(sanpham.image))
                            {
                                <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="~/Content/img/112815953-stock-vector-no-image-available-icon-flat-vector.jpg">
                            }
                            else
                            {
                                <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="~/UploadedFiles/ProductImages/@sanpham.image">
                            }

                        </a>
                        <div class="card-body">
                            <a href="/chitiet-sanpham?idProduct=@sanpham.id">
                                <h5>@sanpham.product_name</h5>
                            </a>
                            <h6>@sanpham.category</h6>
                            <p class="card-text">@sanpham.description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" href="/chitiet-sanpham?idProduct=@sanpham.id">Xem chi tiết</a>
                                </div>
                                <small class="text-muted text-right">
                                    <b>@sanpham.standard_cost vnđ</b>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
